{{#if post}}
    <div class="card pd-2">
        <div class="card-body">
            <h3>Editor de postagem</h3>
            <form action="/admin/posts/edit" method="POST" class="mb-3">
                <label for="title" class="form-label">Título</label>
                <input class="form-control" type="text" id="title" value="{{post.title}}" name="title"
                    placeholder="Título da postagem">
                <label for="slug" class="form-label">Slug: </label>
                <input class="form-control mb-3" type="text" value="{{post.slug}}" id="slug" name="slug"
                    placeholder="Slug da Postagem">
                <label for="description" class="form-label">Descrição: </label>
                <input class="form-control mb-3" type="text" value="{{post.description}}" id="description" name="description"
                    placeholder="Descrição da Postagem">
                <label for="content" class="form-label">Conteúdo: </label>
                <textarea class="form-control" name="content" id="content">{{post.content}}</textarea>
                <label for="category">Categoria: </label>
                <select class="form-control mt-3" name="category" id="category">
                    {{#each category}}
                    
                    <option value="{{_id}}">{{name}}</option>
                    {{else}}
                    <option value="0">Sem categorias disponíveis</option>
                    {{/each}}
                </select>
                <input type="hidden" name="id" value="{{post._id}}">
                <button type="submit" class="btn btn-success mt-3">Salvar edições</button>
            </form>
        </div>
{{/if}}